:root {
    --yellow:  #f7c92b;
}

.faq-row-wrapper {
    border: 1px solid var(--yellow);
    border-radius: 25px;

    .faq-title {
        /* border-radius: 25px; */
    }

    .faq-body {
        /* border: 1px solid var(--yellow); */
        border-radius: 25px;
        
        .faq-row {
            padding: .5rem;
            border-radius: 25px;
            border-color: var(--yellow);

            .row-title {}

            .row-content {
                .row-content-text {
                    border-radius: 25px;
                    text-align: justify;
                }
            }
        }
    }
}